@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700;900&display=swap");
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: #fff;
  font-family: Roboto;
  font-weight: 700;
}

a {
  text-decoration: none;
}

h1 {
  font-family: Roboto;
  font-weight: 700;
  font-size: 56px;
}

.header {
  background-color: #08090a;
  padding: 16px 16px 0 16px;
}
.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 16px;
}
.container {
  margin: 0 auto;
}

.menu {
  display: none;
  position: absolute;
  inset: 0;
  font-size: 32px;
  width: 100vw;
  height: 100vh;
  background-color: #0b0d0f;
}
.menu__icon {
  display: block;
  position: relative;
  z-index: 1;
  width: 24px;
  height: 24px;
  -webkit-tap-highlight-color: transparent;
  cursor: pointer;
}
.menu__icon span {
  -webkit-transition: 0.2s ease 0s;
  -o-transition: 0.2s ease 0s;
  transition: 0.2s ease 0s;
  top: calc(50% - 1px);
  left: 4px;
  position: absolute;
  width: 16px;
  height: 2px;
  background-color: #fff;
  border-radius: 1px;
}
.menu__icon span:first-child {
  top: 6px;
}
.menu__icon span:last-child {
  top: auto;
  bottom: 6px;
}
.menu__icon._active span {
  -webkit-transform: scale(0);
      -ms-transform: scale(0);
          transform: scale(0);
}
.menu__icon._active span:first-child {
  -webkit-transform: translateX(-1px) rotate(-45deg);
      -ms-transform: translateX(-1px) rotate(-45deg);
          transform: translateX(-1px) rotate(-45deg);
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
  top: calc(50% - 1px);
  left: 3.1px;
  width: 17.8px;
}
.menu__icon._active span:last-child {
  -webkit-transform: translateX(-1px) rotate(45deg);
      -ms-transform: translateX(-1px) rotate(45deg);
          transform: translateX(-1px) rotate(45deg);
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
  bottom: calc(50% - 1px);
  width: 17.8px;
  left: 3.1px;
}
.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 8px;
  position: absolute;
  list-style: none;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
.menu__item {
  line-height: 40px;
}
.menu__item:hover {
  background: -o-linear-gradient(149.89deg, #8c44d4 5.04%, #ffd0a5 76.02%);
  background: linear-gradient(300.11deg, #8c44d4 5.04%, #ffd0a5 76.02%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}
.menu._active {
  display: block;
}

.socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  list-style: none;
  gap: 24px;
  position: absolute;
  left: 50%;
  bottom: 40px;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
}
.socials__item {
  font-size: 0;
}
.socials__icon {
  width: 32px;
  height: 32px;
}
.socials__icon > use {
  fill: #777;
}
.socials__icon:hover > use {
  fill: #fff;
}

.logo {
  z-index: 1;
}
.logo__title {
  font-size: 24px;
  font-weight: 900;
}
.logo__title > span {
  color: #777;
}
.logo__title > span > span {
  font-size: 0;
}

.button {
  cursor: pointer;
  position: relative;
  font-size: 16px;
  background-color: transparent;
  z-index: 1;
  letter-spacing: 0.02em;
  line-height: 24px;
  border-width: 0;
  padding: 8px 16px;
}
.button::before {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: 8px;
  padding: 2px;
  background: -o-linear-gradient(357.5deg, #ffd0a5 17.66%, #8c44d4 83.71%);
  background: linear-gradient(92.5deg, #ffd0a5 17.66%, #8c44d4 83.71%);
  -webkit-mask: -webkit-gradient(linear, left top, left bottom, color-stop(0, #fff)) content-box, -webkit-gradient(linear, left top, left bottom, color-stop(0, #fff));
  -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
          mask-composite: exclude;
}