@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700;900&display=swap");
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: #fff;
  font-family: Roboto;
  font-weight: 700;
}

a {
  text-decoration: none;
}

h1 {
  font-family: Roboto;
  font-weight: 700;
  font-size: 56px;
}

ul {
  list-style: none;
}

body {
  overflow-x: hidden;
  background-color: #08090a;
}
body._active {
  overflow: hidden;
}

html {
  scroll-behavior: smooth;
}

.header {
  background-color: #08090a;
  padding: 16px 16px 0 16px;
}
@media (min-width: 768px) {
  .header {
    padding: 16px 24px;
  }
}
.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 16px;
}
.header__logo {
  z-index: 2;
}
.header__button {
  letter-spacing: 0.02em;
  z-index: 2;
}

.container {
  margin: 0 auto;
}

.menu {
  display: none;
  position: absolute;
  inset: 0;
  font-size: 32px;
  width: 100vw;
  height: 100vh;
  background-color: #0b0d0f;
  z-index: 1;
}
.menu__icon {
  display: block;
  position: relative;
  z-index: 2;
  width: 24px;
  height: 24px;
  -webkit-tap-highlight-color: transparent;
  cursor: pointer;
}
@media (min-width: 768px) {
  .menu__icon {
    display: none;
  }
}
.menu__icon span {
  -webkit-transition: 0.2s ease 0s;
  -o-transition: 0.2s ease 0s;
  transition: 0.2s ease 0s;
  top: calc(50% - 1px);
  left: 4px;
  position: absolute;
  width: 16px;
  height: 2px;
  background-color: #fff;
  border-radius: 1px;
}
.menu__icon span:first-child {
  top: 6px;
}
.menu__icon span:last-child {
  top: auto;
  bottom: 6px;
}
.menu__icon._active span {
  -webkit-transform: scale(0);
      -ms-transform: scale(0);
          transform: scale(0);
}
.menu__icon._active span:first-child {
  -webkit-transform: translateX(-1px) rotate(-45deg);
      -ms-transform: translateX(-1px) rotate(-45deg);
          transform: translateX(-1px) rotate(-45deg);
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
  top: calc(50% - 1px);
  left: 3.1px;
  width: 17.8px;
}
.menu__icon._active span:last-child {
  -webkit-transform: translateX(-1px) rotate(45deg);
      -ms-transform: translateX(-1px) rotate(45deg);
          transform: translateX(-1px) rotate(45deg);
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
  bottom: calc(50% - 1px);
  width: 17.8px;
  left: 3.1px;
}
.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 8px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
.menu__item {
  line-height: 40px;
}
.menu__item:hover {
  background: -o-linear-gradient(149.89deg, #8c44d4 5.04%, #ffd0a5 76.02%);
  background: linear-gradient(300.11deg, #8c44d4 5.04%, #ffd0a5 76.02%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}
.menu._active {
  display: block;
  overflow: hidden;
}

.socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 24px;
  position: absolute;
  left: 50%;
  bottom: 40px;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
}
.socials__item {
  font-size: 0;
}
.socials__icon {
  width: 32px;
  height: 32px;
}
.socials__icon > use {
  fill: #777;
}
.socials__icon:hover > use {
  fill: #fff;
}

.logo__title {
  font-size: 24px;
  font-weight: 900;
}
.logo__title span {
  color: #777;
}
.logo__title span > span {
  font-size: 0;
}
@media (min-width: 768px) {
  .logo__title span > span {
    font-size: 24px;
  }
}

.button {
  cursor: pointer;
  position: relative;
  font-size: 16px;
  background-color: transparent;
  line-height: 24px;
  border-width: 0;
  padding: 8px 16px;
}
@media (min-width: 768px) {
  .button {
    padding: 12px 24px;
  }
}
.button:hover {
  text-decoration: underline;
}
.button::before {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: 8px;
  padding: 2px;
  background: -o-linear-gradient(357.5deg, #ffd0a5 17.66%, #8c44d4 83.71%);
  background: linear-gradient(92.5deg, #ffd0a5 17.66%, #8c44d4 83.71%);
  -webkit-mask: -webkit-gradient(linear, left top, left bottom, color-stop(0, #fff)) content-box, -webkit-gradient(linear, left top, left bottom, color-stop(0, #fff));
  -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
          mask-composite: exclude;
}

.start-trading {
  text-align: center;
  background-color: #08090a;
}
@media (min-width: 1440px) {
  .start-trading {
    text-align: left;
  }
}
.start-trading__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 24px 0 120px 0;
}
@media (min-width: 768px) {
  .start-trading__container {
    position: relative;
    padding: 32px 0 648px 0;
  }
}
@media (min-width: 1440px) {
  .start-trading__container {
    padding: 160px 106px 344px 106px;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: start;
  }
}
.start-trading__image {
  width: 388px;
  aspect-ratio: 1/1;
}
@media (min-width: 768px) {
  .start-trading__image {
    position: absolute;
    width: 640px;
    top: 280px;
    left: 50%;
    -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
            transform: translateX(-50%);
  }
}
@media (min-width: 1440px) {
  .start-trading__image {
    width: 815px;
    top: -3px;
    right: -51px;
    left: auto;
    -webkit-transform: none;
        -ms-transform: none;
            transform: none;
  }
}
.start-trading__title {
  margin-top: -44px;
  margin-bottom: 24px;
  line-height: 64px;
}
@media (min-width: 768px) {
  .start-trading__title {
    margin-top: 0;
    margin-bottom: 40px;
    margin-left: -9px;
  }
}
@media (min-width: 1440px) {
  .start-trading__title {
    font-size: 80px;
    line-height: 88px;
    margin-bottom: 48px;
    margin-left: 0;
  }
}
.start-trading__button {
  font-size: 24px;
  line-height: 28px;
  padding: 18px 40px;
}
.start-trading__button::before {
  border-radius: 16px;
}
@media (min-width: 768px) {
  .start-trading__button {
    margin-left: -9px;
  }
}
@media (min-width: 1440px) {
  .start-trading__button {
    padding: 18px 45px 18px 40px;
    margin-left: 0;
  }
}

.accent-text {
  background: -o-linear-gradient(149.89deg, #8c44d4 5.04%, #ffd0a5 76.02%);
  background: linear-gradient(300.11deg, #8c44d4 5.04%, #ffd0a5 76.02%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}

.comfort-trading {
  background: -webkit-gradient(linear, left bottom, left top, color-stop(-14.88%, #ffd0a5), color-stop(51.56%, #8c44d4));
  background: -o-linear-gradient(bottom, #ffd0a5 -14.88%, #8c44d4 51.56%);
  background: linear-gradient(0deg, #ffd0a5 -14.88%, #8c44d4 51.56%);
  text-align: center;
  margin-top: -40px;
  border-radius: 40px;
}
@media (min-width: 768px) {
  .comfort-trading {
    position: relative;
    margin-top: -80px;
    border-radius: 80px;
    z-index: 1;
  }
}
@media (min-width: 1440px) {
  .comfort-trading {
    background: -o-linear-gradient(16.33deg, #FFD0A5 2.65%, #8C44D4 52.64%);
    background: linear-gradient(73.67deg, #FFD0A5 2.65%, #8C44D4 52.64%);
    text-align: left;
  }
}
.comfort-trading__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 40px;
  padding: 40px 80px 0 80px;
  overflow: hidden;
}
@media (min-width: 768px) {
  .comfort-trading__container {
    padding: 56px 60px 0 60px;
  }
}
@media (min-width: 1440px) {
  .comfort-trading__container {
    padding: 80px 116px 80px 828px;
    gap: 64px;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: start;
  }
}
.comfort-trading__title {
  font-size: 32px;
  line-height: 40px;
}
@media (min-width: 768px) {
  .comfort-trading__title {
    font-size: 56px;
    line-height: 64px;
    margin: 0 64px;
  }
}
@media (min-width: 1440px) {
  .comfort-trading__title {
    margin: 0;
  }
}
.comfort-trading__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 17px;
  letter-spacing: 0.02em;
  padding: 12px 33px 12px 32px;
}
@media (min-width: 1440px) {
  .comfort-trading__button {
    gap: 19px;
    padding: 12px 29px 12px 30px;
  }
}
.comfort-trading__button::before {
  background: #fff;
  border-radius: 12px;
}
.comfort-trading__button::after {
  display: block;
  content: "";
  width: 6px;
  height: 10px;
  background-image: url(../src/icons/arrow.svg);
}
.comfort-trading__list {
  margin-bottom: 12px;
}
@media (min-width: 768px) {
  .comfort-trading__list {
    margin-bottom: 0px;
  }
}
.comfort-trading__image-wrapper {
  position: relative;
  width: 290px;
  height: 400px;
  margin-bottom: -40px;
}
@media (min-width: 768px) {
  .comfort-trading__image-wrapper {
    width: 348px;
    height: 480px;
    margin-top: 8px;
    margin-bottom: -80px;
  }
}
@media (min-width: 1440px) {
  .comfort-trading__image-wrapper {
    position: absolute;
    width: 600px;
    height: 824px;
    bottom: 0;
    left: 108px;
    margin-bottom: 0px;
  }
}
.comfort-trading__image-wrapper::before, .comfort-trading__image-wrapper::after {
  position: absolute;
  content: "";
  background-repeat: no-repeat;
  background-size: contain;
}
@media (min-width: 1440px) {
  .comfort-trading__image-wrapper::before, .comfort-trading__image-wrapper::after {
    display: none;
  }
}
.comfort-trading__image-wrapper::before {
  width: 51px;
  aspect-ratio: 51/80;
  background-image: url(../src/img/item-1.png);
  left: -9px;
  top: 77px;
}
@media (min-width: 768px) {
  .comfort-trading__image-wrapper::before {
    width: 67px;
    top: 141px;
    left: -111px;
  }
}
.comfort-trading__image-wrapper::after {
  width: 40px;
  aspect-ratio: 52/79;
  background-image: url(../src/img/item-2.png);
  right: -15px;
  bottom: 26px;
}
@media (min-width: 768px) {
  .comfort-trading__image-wrapper::after {
    width: 52px;
    right: -78px;
    bottom: 80px;
  }
}
.comfort-trading__image {
  position: relative;
  width: 100%;
  height: 100%;
}

.advantages {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 24px;
}
@media (min-width: 768px) {
  .advantages {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: start;
  }
}
@media (min-width: 1440px) {
  .advantages {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 40px;
  }
}
.advantages__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 24px;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}
@media (min-width: 768px) {
  .advantages__item {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
  }
}
@media (min-width: 1440px) {
  .advantages__item {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    font-size: 20px;
    line-height: 32px;
  }
}
.advantages__item:before {
  content: "";
  display: block;
  width: 56px;
  aspect-ratio: 1;
  background-color: #22c379;
  background-repeat: no-repeat;
  border-radius: 50%;
  background-position: 50%;
}
@media (min-width: 1440px) {
  .advantages__item:before {
    -ms-flex-negative: 0;
        flex-shrink: 0;
  }
}
.advantages__item-1:before {
  background-image: url(../src/icons/1.svg);
}
.advantages__item-2:before {
  background-image: url(../src/icons/2.svg);
}
.advantages__item-3:before {
  background-image: url(../src/icons/3.svg);
}
.advantages__item:last-child {
  margin-top: -12px;
}
@media (min-width: 768px) {
  .advantages__item:last-child {
    margin-top: 0px;
  }
}