@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700;900&display=swap");

$bg-color: #08090a;
$menu-bg: #0b0d0f;

$gray: #777;

$text-color: #fff;

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: $text-color;
    font-family: Roboto;
    font-weight: 700;
}
a {
    text-decoration: none;
}
h1 {
    font-family: Roboto;
    font-weight: 700;
    font-size: 56px;
}

.header {
    background-color: $bg-color;
    padding: 16px 16px 0 16px;
    &__container {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__wrapper {
        display: flex;
        align-items: center;
        gap: 16px;
    }
    &__logo {
    }
}
.container {
    // max-width: 1200px;
    margin: 0 auto;
}
.menu {
    display: none;
    position: absolute;
    inset: 0;
    font-size: 32px;
    width: 100vw;
    height: 100vh;
    background-color: $menu-bg;
    &__icon {
        display: block;
        position: relative;
        z-index: 1;
        width: 24px;
        height: 24px;
        -webkit-tap-highlight-color: transparent;
        cursor: pointer;
        span {
            transition: 0.2s ease 0s;
            top: calc(50% - 1px);
            left: 4px;
            position: absolute;
            width: 16px;
            height: 2px;
            background-color: $text-color;
            border-radius: 1px;
            &:first-child {
                top: 6px;
            }
            &:last-child {
                top: auto;
                bottom: 6px;
            }
        }
        &._active {
            span {
                transform: scale(0);
                &:first-child {
                    transform: translateX(-1px) rotate(-45deg);
                    transform: rotate(-45deg);
                    top: calc(50% - 1px);
                    left: 3.1px;
                    width: 17.8px;
                }
                &:last-child {
                    transform: translateX(-1px) rotate(45deg);
                    transform: rotate(45deg);
                    bottom: calc(50% - 1px);
                    width: 17.8px;
                    left: 3.1px;
                }
            }
        }
    }
    &__list {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 8px;
        position: absolute;
        list-style: none;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    &__item {
        line-height: 40px;
        &:hover {
            background: linear-gradient(300.11deg, #8c44d4 5.04%, #ffd0a5 76.02%);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            background-clip: text;
            text-fill-color: transparent;
        }
    }
    &._active {
        display: block;
    }
}
.socials {
    display: flex;
    justify-content: center;
    list-style: none;
    gap: 24px;
    position: absolute;
    left: 50%;
    bottom: 40px;
    transform: translateX(-50%);
    &__item {
        font-size: 0;
    }
    &__icon {
        width: 32px;
        height: 32px;
        & > use {
            fill: $gray;
        }
        &:hover > use {
            fill: #fff;
        }
    }
}
.logo {
    z-index: 1;
    &__title {
        font-size: 24px;
        font-weight: 900;
        & > span {
            color: $gray;
            & > span {
                font-size: 0;
            }
        }
    }
}
.button {
    cursor: pointer;
    position: relative;
    font-size: 16px;
    background-color: transparent;
    z-index: 1;
    letter-spacing: 0.02em;
    line-height: 24px;
    border-width: 0;
    padding: 8px 16px;
    &::before {
        content: "";
        position: absolute;
        inset: 0;
        border-radius: 8px;
        padding: 2px;
        background: linear-gradient(92.5deg, #ffd0a5 17.66%, #8c44d4 83.71%);
        -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
        mask-composite: exclude;
    }
}
